<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        body{
            background-image: url("static/img/BG.png");
        }
    </style>
    <title>Tic-Tac-Toe Home page</title>
</head>
<body>
    <div class="index-container">
        <img src="static/img/Welcome to Tic Tac.png" alt="">
        <form action="tic-tac-toe/play" class="index-form">
            <br>
            <div class="gamemode">
                <label for="playmode" class="gamemode-label">Game mode:</label>
                <br>
                    <select name="playmode" id="playmode">
                    <option value="pvp">PVP</option>
                    <option value="pve">PVE</option>
                    <option value="eve">EVE</option>
                </select>
            </div>
            <br>
            <div class="player">
                <span class="player-label">Player 1</span>
                <img src="static/img/image1.png" alt="">
                <input type="text" name="player1" placeholder="Enter your name">
                <select name="botmode1" id="botmode1">
                    <option value="Random">Random</option>
                    <option value="Sequential">Sequential</option>
                    <option value="Minimax">Minimax</option>
                </select>
            </div>
            <div class="player">
                <span class="player-label">Player 2</span>
                <img src="static/img/image2.png" alt="">
                <input type="text" name="player2" placeholder="Enter your name">
                <select name="botmode2" id="botmode2">
                    <option value="Random">Random</option>
                    <option value="Sequential">Sequential</option>
                    <option value="Minimax">Minimax</option>
                </select>
            </div>
            <br>
            <input type="submit" value="GO" class="submit">
        </form>
    </div>
<script src="static/js/index.js"></script>
</body>
</html>