<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        body{
            background-image: url("static/img/BG-play.png");
        }
    </style>
    <title>Tic-Tac-Toe play!</title>
</head>
<body>
    <div class="container">
        <h1>Let's play Tic-Tac-Toe!</h1>
        <div class="play-container">
            <div class="player-container">
                <div class="vertical-player">
                    <img src="static/img/image1.png" alt="">
                    <span class="playername"> Bowen </span>
                </div>
                <img src="static/img/VS.png" alt="">
                <div class="vertical-player">
                    <img src="static/img/image2.png" alt="">
                    <span class="playername"> ROIM </span>
                </div>
            </div>
            <br>
            <table class="board">
                <tr>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"><img src="static/img/X.png" alt=""></div></td>
                </tr>
                <tr>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"><img src="static/img/X.png" alt=""></div></td>
                    <td><div class="cell"><img src="static/img/O.png" alt=""></div></td>
                </tr>    
                <tr>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                </tr>    
            </table>
        </div>
    </div>



</body>
</html>