<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        body{
            background-image: url("/static/img/BG.png");
        }
    </style>
    <title>Tic-Tac-Toe leaderboard</title>
</head>
<body>
    <div class="leaderboard-container">
        <h1>Leaderboard</h1>
        <br>
        <table class="leaderboard">
            <tr>
                <th>Name</th>
                <th>Games</th>
                <th>Wins</th>
                <th>Time per Move</th>
            </tr>
            {%for i in range(0, len)%}
            <!-- table rows -->
            <tr>
                <td>{{names[i]}}</td>
                <td>{{games[i]}}</td>
                <td>{{wins[i]}}</td>
                <td>{{timepermove[i]}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>